!data/gt/mot_challenge/.gitkeep
data_x/*
output/heatmap/fn/*
output/heatmap/fp/*
output/heatmap/gt/*
output/heatmap/pred/*
output/square_images/fn/*
output/square_images/fp/*
!output/idsw/attach/.gitkeep
!output/idsw/bbox_idsw/.gitkeep
boxdetails/fp.txt
boxdetails/fn.txt
boxdetails/gt.txt
boxdetails/pred.txt
video/*.mp4
!goutput/Readme.md
**/__pycache__
.idea
error_log.txt